.card {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  color: #242424;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

.img {
  width: 100%;
  height : auto;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

// // Individual card style
// .card {
//   background-color: #fff;
//   border-radius: 8px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   overflow: hidden;
//   text-align: center;
//   width: 100%;
//   max-width: 250px;
//   cursor: pointer;
//   transition: transform 0.3s ease, box-shadow 0.3s ease;

//   &:hover {
//     transform: translateY(-10px);
//     box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
//   }

//   img {
//     width: 100%;
//     height: auto;
//     border-bottom: 1px solid #ddd;
//   }

  .h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }

  .h4 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }


// Hover effect for the card
.product-card a {
  display: block;
  text-decoration: none;
  color: inherit;
}
