

.wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 40px;
    // background-color: #f2eef746;
    gap: 20px;
  
  }
  
  .item {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    color: #242424;
    padding: 40px;
    border-radius: 5px;
    margin: 20px;

    h2 {
        width: 20%;
    }

    p {
        width:10%;
    }

    img {

        width: 15%;
        height: auto;
    }

  }

  .button {
           background-color: red;
        color: black;
        font-size: 1rem;
        padding: 10px 15px;
      //  border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    

  }

  
  @media (max-width: 768px) {
    .wrapper {
      grid-template-columns: 1fr;
      padding: 10px;
    }
  }
  