.wrapper {

  display: flex;
  width: 100%;
  height: auto;
  justify-items: center;
  align-items: center;

  img {
    width: 20%;
    
  };
}

.navbar {
  display: flex;
  flex-direction: row;

    width:75%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
  
  .navlink {
    color: black; 
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
  
    &:hover {
      color: #d90429; // White on hover
      transform: scale(1.1);
    }

    &:active {
      text-decoration: none;
      color: red;
    }
  }
  


  
  // Mobile styles
  @media (max-width: 480px) {
    .navLink {
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
    }
  }